<?xml version="1.0" encoding="UTF-8"?>
<configuration>  
  
  <system.webServer>
    <handlers>
        <add name="FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\python\python.exe|c:\python\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="4000000000" />
            </requestFiltering>
        </security>
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket,ANCM,Rewrite" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions timeTaken="00:00:00" statusCodes="500" />
                </add>
            </traceFailedRequests>
        </tracing>

  </system.webServer>

  <appSettings>
    <add key="WSGI_HANDLER" value="upload_image.app" /> <!-- {name_of_file}.{name_of_flask_app}-->
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\mypython" />
	<add key="WSGI_LOG" value="C:\inetpub\wwwroot\mypython\app.log" />
  </appSettings>
    <system.web>
        <httpRuntime executionTimeout="170" maxRequestLength="2147483647" />
    </system.web>

</configuration> 